In [ ]:
import sqlite3

In [9]:
connection = sqlite3.connect("ClassDB.db")
connection.close()

In [10]:
connection = sqlite3.connect("ClassDB.db")
cursor = connection.cursor()
create_table = """
        Create table classroom(
        student_id integer primary key,
        name varchar(20),
        gender char(1),
        phisics_marks integer,
        chemistry_marks integer,
        math_marks integer 
);"""
cursor.execute(create_table)
connection.commit()
connection.close()

In [12]:
students = [
    (1, "syz", "M", 90, 99, 88),
    (2, "amd","M", 95, 94, 98),
    (3, "mmd","M", 97, 91, 90),
    (4, "ibrm","M", 90, 99, 88),
]
connection = sqlite3.connect("ClassDB.db")
cursor = connection.cursor()
for std in students:
    insrt = """Insert into classroom
    (student_id, name, gender, phisics_marks, chemistry_marks, math_marks)
    values ({0}, "{1}", "{2}", {3}, {4}, {5});""".format(std[0], std[1], std[2], std[3], std[4], std[5])
    cursor.execute(insrt)
    
connection.commit()
connection.close()

In [19]:
connection = sqlite3.connect("ClassDB.db")
cursor = connection.cursor()
qry = "select * from classroom where student_id = 1"
cursor.execute(qry)
res = cursor.fetchall()
for row in res:
    print(row)
connection.close()

(1, 'syz', 'M', 90, 99, 88)